@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  width: auto;
  margin: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.start {
  background: url("images/main_back.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

li {
  list-style-type: none;
}

.navigation{
  display: none;
}

.menu {
  padding: 5px;
  text-align: center;
  align-items: center;
  height: 30px;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  color: #352829;
  padding-top: 10%;
  padding-bottom: 15%;
}

li a {
  color: inherit;
  text-decoration: none;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.toolbar a {
  text-decoration: none;
  color: inherit;
}

#menu-icon {
  font-size: 20px;
  padding-right: 30px;
}

#logo {
  padding-left: 20px;
  font-style: normal;
  font-size: 18px;
  line-height: 16px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.banner h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  font-family: "Inter", sans-serif;
}

.banner p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  font-family: "Inter", sans-serif;
  padding-top: 10%;
}

.banner span {
  color: #36b37f;
}

.social-media ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.social-media li {
  color: #505f79;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  padding-top: 6%;
}

#chev {
  display: flex;
  margin: 10%;
}

#savg {
  text-align: center;
  height: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* recent works */
.recent-works {
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  padding: 0 24px 0 24px;
}

.topper {
  margin-right: 26px;
  margin-left: 26px;
}

.topper h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  height: 97px;
  text-align: center;
  color: #172b4d;
  margin-top: 22px;
  margin-bottom: 24px;
}

.indicator {
  background: url("images/Indicator.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 24px;
  text-align: center;
  height: 4px;
  width: 48px;
}

.recent-works-cards {
  margin: 58px 0 0 0;
  padding: 4px 2px;
  height: 2972px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.works {
  background: url("images/imgbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 474px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.work-details {
  display: grid;
  grid-template-rows: 33.33% 33.33% 33.33%;
  height: 222px;
  background: #fff;
  border-radius: 8px;
  align-content: space-between;
  align-items: center;
  justify-items: center;
}

.work-details h3 {
  margin: 12px 0 0 0 !important;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  padding: 0 10px;
}

.work-details ul {
  margin: 0;
}

.language-tags {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}

.language-tags li {
  list-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px 8px;
  background: #ebf0ee;
  border-radius: 4px;
}

.works-button {
  padding: 12px;
  width: 98px;
  height: 24px;
  margin-bottom: 20px;
  background: #36b37f;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.works-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.works-button:active {
  background: #008552;
}

/* about-me-section */

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 54px 24px;
}

.about-me-text {
  background: url("images/top-tail.svg")right top/20% 35%, url("images/abtme.svg")left bottom;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 380px;
  width: 351px;
  justify-content: flex-end;
  margin-bottom: 59px;
}

.about-me-topper {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 24px;
}

.about-me-text p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  justify-content: center;
  color: #42526e;
  margin: 0 0 24px 0;
}

.about-me-text a {
  padding: 12px;
  width: 135px;
  height: 32px;
  margin: 0;
  background: #36b37f;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.about-me-button:hover {
  box-shadow: 0 8px 16px #008552;
}

.about-me-button:active {
  background: #008552;
}

.about-me-card {
  padding: 1px;
  height: 1106px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
}

.card {
  height: 352px;
  background: url("images/imgbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: auto auto;
  align-content: space-evenly;
}

.card-details {
  display: grid;
  align-content: space-between;
  align-items: center;
  justify-items: center;
}

.card-details p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin: 0;
}

.card-details ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 24px;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 12px;
  margin-left: 12px;
  justify-content: center;
}

.card-details li {
  list-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  padding: 12px;
  border-radius: 8px;
  background: #fff;
  text-align: center;
  margin-bottom: 8px;
  margin-right: 8px;
}

.form {
  background-image: url("images/illustration-contact-form.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.form h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding: 0 24px;
  margin-bottom: 5%;
}

.contact_form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-inputs {
  padding-left: 0;
  width: 90%;
}

.form-inputs li {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 24px;
}

input {
  width: 100%;
  height: 48px;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding: 15px 16px;
}

.form textarea {
  width: 100%;
  height: 114px;
  background: #fff;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding: 12px;
}

.form button {
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  text-align: center;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

#submit:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

#submit:active {
  background: #008552;
}

footer h4 {
  height: 189px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  margin-bottom: 147px;
}
hr{
  display: none;
}
@media screen and (min-width:768px){

  .start {
  background: url("images/Header-llustration-desktop.svg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: top -60%;
  height:110%;
  
}
  /* nav-bar */
  .menu{
    display: none;
  }
  .navigation{
    display: inline;
    width: 100%;
    font-weight: 700;
    color:#172B4D ;
  

  }
  .desktop-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
  }
  .desktop-nav li{
    margin: 10px;

  }
  /* banner */
  .banner{
    margin-top: 8%;
    margin-bottom: 0%;

  }
  .banner h1{
    font-size: 40px;
    width: 690px;
    margin-left: 5%;
  }
  .banner p{
    width: 570px;
    margin-left: 13%;
    padding-top: 2%;
  }
  /* social-media */
  .social-media ul{
    position: absolute;
    left: 50%;
    right: 50%;
  }

  /* indicator */
.indicator{
  display: none;
}
  /* recent-works */
  .topper{
    position: relative;
    margin-bottom: 0%;

  }
  .recent-works{
    margin-top: 3%;
  }
  .recent-works-cards{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   gap:24px;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0px;
   height:988px;
   width: auto;
   
}
.works{
  width: 30.33%;
}

.language-tags{
  display: flex;
  flex:1;
  
}

.language-tags li{
  font-weight: 600;
  font-size: 10px;
  color: #3a4a42;
  padding: 1px 3px;
  background: #ebf0ee;
  border-radius: 4px;

}
.work-details h3{
padding-top: 20px;
font-size: 22px;
}

/* about-me */
.about-me-text {
  background-image: url("images/top-tail.svg"), url("images/abtme.svg");
  background-size: 80px;
  background-position: right 50%, left 70%;
  align-items: center;
  height: 300px;
  width: 100%;

}
#about-me-para {
width: 550px;
font-size: 17px;

}

.about-me-card {
  box-sizing: border-box;
  padding: 1px;
  height: 400px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
/* languages frameworks skills */
.lang-card{
  width: 33%;
  height: auto;
  
}
.framework-card{
  width: 33%;
  height: auto;
}
.skills-card{
  width: 33%;
  height: auto;
}
/* form */
form{
  height: 330px;
}
.form{
  background-image: url(images/kando-left.svg),url(images/kando.svg),url(images/rock.svg);
  background-position:left 99%,right 97%,16% 90%;
  background-size: 8%;
  display: grid;
  grid-template-columns:370px auto;
  align-items: center;
  height: 80%;
  position: relative;
}
.form h2{
  font-size: 26px;
  text-align: start;
  align-items: center;
  line-height: 42px;
  margin-top:-30px ;
}
.form-inputs{
  display: flex;
  flex-direction: column;
}
.form-inputs li{
  justify-content: start;
}
#email_footer{
  display: none;
}
hr{
  display: block;
  width: 1440px;
  height: 1px;
  color: #DFE1E6;
  bottom:100px;  

}

}